body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#citysky-card {
  width: 420px;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 20vh;
  border-radius: 35px;
  overflow: hidden;
}

#citysky-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#city-card-overlay {
  position: absolute;
  background-color: #ffffff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    0deg,
    rgba(142, 144, 142, 0.5) 0%,
    rgba(0, 0, 0, 0) 50%
  );
}

#city-sky-info-up {
  position: absolute;
  right: 0;
  top: 0;
}

#city-sky-info-down {
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  padding-left: 30px;
  padding-bottom: 20px;
  user-select: none;
  text-align: right;
  font-weight: bold;
  font-size: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#bordered-save {
  top: 20;
  color: white;
  padding-right: 20px;
  padding-top: 20px;
  user-select: none;
  text-align: left;
  font-weight: 900;
  font-size: 2em;
}

#citysky-card-top-element {
  position: absolute;
  width: 100px;
  height: 80px;
  background-color: #e60122;
  top: 15px;
  right: 20px;
  border-radius: 70px/80px;
  cursor: pointer;
}

#bordered-button {
  position: absolute;
  background-color: white;
  width: 170px;
  height: 80px;
  bottom: 15px;
  left: 20px;
  border-radius: 100px/70px;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
}

#circle-share {
  position: absolute;
  background-color: white;
  width: 80px;
  height: 80px;
  bottom: 15px;
  right: 30%;
  border-radius: 50%;
}

#circle-dot {
  position: absolute;
  background-color: white;
  width: 80px;
  height: 80px;
  bottom: 15px;
  right: 5%;
  border-radius: 50%;
}
