body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #5a595b;
}

#citysky-card {
  width: 420px;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 20vh;
  border-radius: 5%;
  overflow: hidden;
  transition: box-shadow 1s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.55);
  transition: 1s ease;
}

#citysky-card:hover {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 20px 8px rgba(110, 62, 69, 0.55);
  transform: scale(1.1);
  transition: 1s ease;
}

#citysky-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

#city-card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#bordered-save {
  width: 5em;
  height: 3em;
  position: absolute;
  top: 1em;
  right: 3em;
  background-color: red;
  border-radius: 20px 20px;
  text-align: center;
  color: white;
  font-weight: bold;
  line-height: 50px;
  transform: translateX(10em) rotate(90deg);
  transition: transform 0.3s;
  user-select: none;
}

#circle-dot {
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  bottom: 1em;
  right: 3em;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 50%;
  transform: translateY(10em) rotate(180deg);
  transition: transform 0.3s;
}

#circle-dot .fa-solid {
  position: relative;
  top: 12px;
  left: 10px;
}

#bordered-button {
  width: 16em;
  height: 3.5em;
  position: absolute;
  bottom: 1.25em;
  right: 20em;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 20px 20px;
  transform: translateY(200px) rotate(90deg);
  transition: transform 0.3s;
  user-select: none;
  font-size: 0.7em;
  line-height: 2.05em;
}

#bordered-button .fa-solid {
  position: relative;
  top: 11px;
  left: 10px;
  font-size: 2em;
}

#circle-share {
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  bottom: 1em;
  right: 7em;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 50%;
  transform: translateY(100px) rotate(180deg);
  transition: transform 0.3s;
}

#circle-share .fa-solid {
  position: relative;
  top: 12px;
  left: 10px;
}

.text {
  position: absolute;
  bottom: 6px;
  left: 37px;
  font-size: 2.5em;
  width: 128px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

#city-card-overlay:hover #circle-dot {
  transform: translateY(0px);
  transition: transform 0.3s;
}

#city-card-overlay:hover #bordered-button {
  transform: translateY(0px);
  transition: transform 0.3s;
}

#city-card-overlay:hover #circle-share {
  transform: translateY(0px);
  transition: transform 0.3s;
}

#city-card-overlay:hover #bordered-save {
  transform: translateX(0px);
  transition: transform 0.3s;
}

a {
  color: inherit;
  text-decoration: none;
}
